.post_sec {
    margin-top: 12px;
    box-shadow: 0px 1px 7px 3px #ccc;
}
.post_discuss_img a {
    color: #000 !important;
}


.post_discuss_img {display:inline-block; margin-top:20px;}

.post_discussion table tr td {
    padding: 6px 5px 0px 5px;
    border: 1px solid #ccc;
}
    .post_discussion table {
        width: 100%;
        text-align: center;
        margin-bottom:20px;
    }


    