
            <div class="filter_by"> 
                <span (click)="cross()" class="topright">X</span>
              <h5 class="mt-3">Filter By</h5>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="popularity">
                <label class="custom-control-label" for="popularity">Popularity</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="1s">
                <label class="custom-control-label" for="1s">1 Star</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="2s">
                <label class="custom-control-label" for="2s">2 Stars</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="3s">
                <label class="custom-control-label" for="3s">3 Stars</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="4s">
                <label class="custom-control-label" for="4s">4 Stars</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="5s">
                <label class="custom-control-label" for="5s">5 Stars</label>
            </div>
            </div>