<footer>
  <div class="footer">
  <div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-4 col-sm-12 terms">
      <a href="" class="mr-4">Term of Use</a>
      <a href="">Privacy Policy</a>
    </div>
    <div class="col-md-12 col-lg-4 col-sm-12 copyright">
      <span >© 2018 Launch. All rights reserved.</span>
    </div>
    <div class="col-md-12 col-lg-4 col-sm-12 social ">
      <a class="mr-3 social-btn twitter"><i class="fa fa-twitter"></i></a>
      <a class="mr-3 social-btn fb"><i class="fab fa fa-facebook"></i></a>
      <a class="mr-3 social-btn ln"><i class="fab fa fa-linkedin"></i></a>
    </div>
  </div>
  </div>
</div>
</footer>