<div class="market_place">
    <span (click)="cross()" class="topright">X</span>
    <h5>Market-Place</h5>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="pm">
        <label class="custom-control-label" for="pm">Primary Market</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="sm">
        <label class="custom-control-label" for="sm">Secondary Market</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="lm">
        <label class="custom-control-label" for="lm">Leasing Market</label>
    </div>
  </div>
  
  <!-- <input type="checkbox" id="1"
         [ngModel]="filter" (ngModelChange)="onFilterChange($event)"> Checkbox
   -->