<div class="certify">
    <span (click)="cross()" class="topright">X</span>
  <h5 class="mt-3">Certification</h5>
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="cyes" name="certify">
    <label class="custom-control-label" for="cyes">Yes</label>
  </div>

  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="cno" name="certify">
    <label class="custom-control-label" for="cno">No</label>
  </div>
  </div>