<div class="bg-prof"></div>		
<div class="container prof-area">
<div class="row">
<div class="col-md-3 col-lg-3 col-sm-12 ">
  <div class="prof-photo">
    <div class="profile_img">
    <!-- <img src="{{profiledata.profilepicture}}" alt="profile" class="card-img-top mb-3"> -->
  </div>
   
    </div>
    <div class="profle_view">
    <div class="row">
        <div class="col">
          
          <div class="text-center sm" style="font-size: 14px;">
            <p class="mb-0">Social Media</p>
            <a><i class="fab fa-facebook-f mr-3"></i></a>
            <a><i class="fab fa-twitter"></i></a>
          </div>
        </div>
        <div class="col">

          <div class="text-center rates" style="font-size: 14px;">
          <p class="mb-0">Ratting</p>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
    </div></div>
    <div class="text-center mt-3 prof-views">
      <b>1.7k </b><span><u> Profile Views </u></span>
    </div>
  
</div>
                 <div class="col-lg-9 col-md-9 col-sm-10">
             <div class="name">
              <h4>Profile Edit</h4>
            </div>
<!-- 
         <table class="table">
  <tr>
  <td>First Name</td>
  <td><input type="text" name="firstname" [(ngModel)]="profiledata.firstname" ngModel/></td>
  </tr>
  <tr>
    <td>Last Name</td>
    <td><input type="text" [(ngModel)]="profiledata.lastname" name="lastname"></td>
  </tr>
  <tr>
  <td>username</td>
  <td><input type="text" [(ngModel)]="profiledata.username" name="username"/></td>
  </tr>
 </table> -->
 <!-- <table class="table">
    <tr>
        <td class="edit_email_input">Email</td>
        <td><input type="email" name="email" [(ngModel)]="profiledata.email" readonly/></td>
        <td><button class="btn btn-primary" data-toggle="modal" data-target="#myModal1">Edit Email</button></td>
        </tr>
 </table> -->
  <table class="table location_sec">
   <tr>
  <td style="width:30%;">Location</td>
  <td>
      <ul>
          <li *ngFor="let statel of state" let i=index;>
           <input  type="checkbox" (change)="countrys(statel.name)" value="{{statel.name}}" name="{{statel.name}}"/> {{statel.name}}
       
      </li>
    </ul>
  <!-- <button class="market btn btn-primary" data-toggle="collapse" data-target="#demo">Choose location</button> -->
    <!-- <div class="custom-control custom-checkbox collapse"  id="demo"> -->
    <!-- <a *ngFor="let item of _data">{{item}}, </a> -->
     <!-- <div class="search_text">
    <input (keydown)="userlisting($event.target.value)" placeholder="search text goes here" name="searchText">
  </div>  -->
     
  <!-- <input [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox">

  <p></p>
  <table *ngFor="let emp1 of customerData | grdFilter: {name: searchText}; let i=index;">
    <tr>
      <td>{{i +1}}</td> 
      <td>{{emp1.name}}</td>
       <td style="width: 5%;">{{emp.Age}}</td>
      <td style="width: 15%;">{{emp.blog}}</td> 
    </tr>
  </table> -->
<!-- </div> -->
</td>
  </tr>
  <tr><td></td>
  <td>
  <button class="btn btn-primary" value="submit" (click)="UpdateProfile()">Submit</button>
  </td>
  </tr>
</table> </div>
</div>
</div>




<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
         
          <h4 class="modal-title" id="myModalLabel">
            Email Change Help !</h4>
        </div>
        
        <div class="modal-body">
          Enter your New Email Address.You will receive an OTP Pin on Enter email Address to change your Email.
    <form name="form" >
      <div class="form-group">
          <label>Enter new Email ID</label>
            <input type="email" class="form-control" name="email" [(ngModel)] = "email"  placeholder="Enter Email Address" required>
         <button type="button" class="btn btn-primary"  (click)="EditEmail()" id="signin">Submit</button>
        </div>
        </form>
        </div>
         </div>
      </div>
    </div>
  
    
    <!-- Modal -->
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
         
          <h4 class="modal-title" id="myModalLabel">Email OTP Password</h4>
        </div>
        
        <div class="modal-body">
          <p>A mail come to your new E-mail ID with OTP Pin, Please type below and changed your email successfully</p>
            <form name="form">
                <div class="form-group">
                <label>Enter OTP Password</label>
                  <input type="otp" class="form-control" name="text" [(ngModel)] = "otp"  placeholder="Please Enter OTP Pin" required>
               <button type="button" id="signin" class="btn btn-primary" (click)="OtpSubmit()" id="signin2">Submit</button>
</div>
              </form>
        </div>
      </div>
    </div>
  </div>


   <!-- Modal -->
   <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
          
          <div class="modal-body">
             <h3>Your Email ID has changed Successfully</h3>
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        
        </div>
      </div>
    </div>