<div class="prof-info">
         <table class="table">
  <tr>
  <td><span>Facebook Url</span></td>
  <td><input type="text" name="facebookLink" [(ngModel)]="facebookLink" ngModel placeholder="Facebook Url"/></td>
  </tr>
  <tr>
    <td>Instagram Url</td>
    <td><input type="text" [(ngModel)]="instagramLink" ngModel name="instagramLink" placeholder="Instagram Url"></td>
  </tr>
  <tr>
  <td>Website Url</td>
  <td><input type="text" [(ngModel)]="website" ngModel  name="website" placeholder="Website Url"></td>
  </tr>
  <tr>
    <td>Linkedin Url</td>
    <td><input type="text" name="linkedInLink" [(ngModel)]="linkedInLink" ngModel placeholder="Linkedian Url"></td>
    </tr>
<tr>
<td>Portfolio Url</td>
<td><input type="text" [(ngModel)]="portfolio" name="portfolio" ngModel  placeholder="Portfolio Url"></td>
</tr>

<tr>
    <td>
        <!-- <button class="btn btn-primary" value="submit"  *ngIf="lod1">Save</button> -->
      <button class="btn btn-primary" value="submit" (click)="UpdateSocial()">
        <span *ngIf="spinner"><i class="fa fa-spinner fa-spin"></i></span>
        Save</button></td>
<td></td>
</tr>
 </table>

</div>
